PORT=5000
MONGO_URI=mmongodb+srv://playfusionbot:rxz62hbKsyhhUT7D@playfusionbot.alpolnd.mongodb.net/?appName=playfusionbot
MONGODB_URI=mongodb+srv://playfusionbot:rxz62hbKsyhhUT7D@playfusionbot.alpolnd.mongodb.net/?appName=playfusionbot
JWT_SECRET=supersecretkey123
TELEGRAM_BOT_TOKEN=yourbottoken
APP_MODE=development
